h2{
    background-color: rgb(52, 51, 51);
    color:yellow;
    padding:10px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   

    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    margin-bottom:5px ;
    margin-top: 0px;
    line-height: 1.1;

}
hr{
    background-color: red;
    margin-top: 0px;
    margin-bottom: 30px;
  
}

.box1,.box2,.box3{
    height: 345px;
    width:260px;
    border:2px solid rgb(187, 185, 185);
    padding: 10px;
    display:inline-block;
    margin: 15px ;
    border-radius: 10px;
    box-shadow: 1px 2px 15px rgb(199, 196, 196);

}
.contain{
   margin-left: 270px;
    
}
img{
    height:200px;
    width: 260px;
    border-radius: 7px;
}
h4{
    color:rgb(225, 83, 83);
    margin-top: 7px;
    margin-bottom: 8px;
   
}
button{
   width:260px;
   height: 30px;
   margin: 10px 0px;
   background-color: rgb(76, 196, 76);
   color:white;
   border-radius: 5px;
   border: none;
}

